### Q 1.  Modify the first item (22) of a list inside a following tuple to  222 . 
###  tuple1 = (11, [22, 33], 44, 55)
### Expected output  :-  tuple1 = (11, [222, 33], 44, 55)

In [7]:
tuple1=(11,[22,33],44,55)
print("First tuple:",tuple1)
tuple1[1][0]=222
print("Modified tuple:",tuple1)

First tuple: (11, [22, 33], 44, 55)
Modified tuple: (11, [222, 33], 44, 55)

###  Q 2: Count the number of occurrences of item 50 from a tuple. tuple1 = (50, 10, 60, 70, 50)

In [16]:
tuple1=(50,10,60,70,50)
print("Tuple:",tuple1)
count=0
for i in range(0,5):
    if tuple1[i]==50:
        count=count+1
print("Number of occurence of item 50 in this tuple is:",count)

Tuple: (50, 10, 60, 70, 50)
Number of occurence of item 50 in this tuple is: 2

###  Q 3: Write a Python program to convert a list to a tuple

In [25]:
list1 = [] 
num = int(input("Enter number of elements in list: ")) 
for i in range(1, num + 1): 
    a= int(input("Enter elements: ")) 
    list1.append(a)   
print("Your list:",list1)
tuple1=tuple(list1)
print("Your list is converted into tuple:",tuple1)

Enter number of elements in list: 3
Enter elements: 5
Enter elements: 7
Enter elements: 9
Your list: [5, 7, 9]
Your list is converted into tuple: (5, 7, 9)

### Q 4: Returns a new set with all items from both sets by removing duplicates
### set1 = {10, 20, 30, 40, 50} , set2 = {30, 40, 50, 60, 70}

In [28]:
set1={10,20,30,40,50}
set2={30,40,50,60,70}
set3=(set1.union(set2))
print(set3)

{70, 40, 10, 50, 20, 60, 30}

###  Q5: Merge following two Python dictionaries into one
### dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
### dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [31]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
print("Firt dictionary:",dict1)
print("Second dictionary:",dict2)
dict3=dict1.copy()
dict3.update(dict2)
print("Dictionary after merging:",dict3)

Firt dictionary: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
Second dictionary: {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Dictionary after merging: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

###  Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500
### sampleDict = 
              {
            'emp1': {'name': 'Jhon', 'salary': 7500},
            'emp2': {'name': 'Emma', 'salary': 8000},
            'emp3': {'name': 'Brad', 'salary': 6500}
              }
### Expected output:
### sampleDict = 
              {
              'emp1': {'name': 'Jhon', 'salary': 7500},
              'emp2': {'name': 'Emma', 'salary': 8000},
              'emp3': {'name': 'Brad', 'salary': 8500}
              }

In [37]:
sampleDict ={
        'emp1': {'name': 'Jhon', 'salary': 7500},
        'emp2': {'name': 'Emma', 'salary': 8000},
        'emp3': {'name': 'Brad', 'salary': 6500}
          }
sampleDict['emp3']['salary']=8500
print("Dictionary after changing:")
sampleDict

Dictionary after changing:

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### Q7: Rename key city to location in the following dictionary
### sampleDict =
                     {
                      "name": "Kelly",
                      "age":25,
                      "salary": 8000,
                      "city": "New york"
                     }
### Expected output:
                    {
                     "name": "Kelly",
                     "age":25,
                     "salary": 8000,
                     "location": "New york"
                     }

In [52]:
sampleDict ={ "name": "Kelly", "age":25, "salary": 8000,"city": "New york"}
del sampleDict['city']
sampleDict['location']='New york'
print("Dictionary after renaming:",sampleDict)

Dictionary after renaming: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}